# Sub Tareas por Nat

En este Notebook se leen los datos de Etapas y se verifica que:

**No hay viajes en moto en Modo Difusión ya que los considera como Otros, pero si están en Etapas**

**En etapas si se consideran viajes de una sola etapa**

**La cantidad de personas que no viajó es: 13788**

cambios:

**Ahora Viajes_stage posee una columna que describe el tipo de día**

In [1]:
import sys
from pathlib import Path


AVES_ROOT = Path("/home/nat/Escritorio/aves") if not "google.colab" in sys.modules else Path("aves_git")

EOD_PATH = AVES_ROOT / "data" / "external" / "EOD_STGO"
EOD_PATH

PosixPath('/home/nat/Escritorio/aves/data/external/EOD_STGO')

In [2]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import geopandas as gpd

# esto configura la calidad de la imagen. dependerá de tu resolución. el valor por omisión es 80
mpl.rcParams["figure.dpi"] = 96
# esto depende de las fuentes que tengas instaladas en el sistema.
mpl.rcParams["font.family"] = "Fira Sans Extra Condensed"

In [3]:
import pandas as pd

csv1=EOD_PATH/'Etapas.csv'
csv2=EOD_PATH/'viajes.csv'

# Lee el archivo CSV en un DataFrame
data1 = pd.read_csv(csv1, sep=';', encoding='latin-1')

data2 = pd.read_csv(csv2, sep=';')


# Obtiene el número de filas y columnas
num_filasE, num_columnasE = data1.shape
num_filasV, num_columnasV = data2.shape

# Imprime el número de filas y columnas de Etapas.csv y viajes.csv
print(f'Número de filas Etapas: {num_filasE}')
print(f'Número de columnas Etapas: {num_columnasE}\n')
print(f'Número de filas Viajes: {num_filasV}')
print(f'Número de columnas Viajes: {num_columnasV}')

value_counts = data1['Persona'].value_counts()

valores_unicos = value_counts[value_counts == 1].index

data_unicos = data1[data1['Persona'].isin(valores_unicos)]

Número de filas Etapas: 133444
Número de columnas Etapas: 44

Número de filas Viajes: 113591
Número de columnas Viajes: 35

In [149]:
viajes = eod.read_trips(EOD_PATH)
viajes_stages = eod.read_trips_stages(EOD_PATH)
personas = eod.read_people(EOD_PATH)
viajes_stages = viajes_stages[viajes_stages['EstacionMetroCambio'].notna()]
viajes_stages[['EstacionMetroCambio']]

        EstacionMetroCambio
34                        3
35                       15
480                       6
512                       3
513                      15
...                     ...
133011                    3
133063                    6
133064                    2
133073                    6
133074                    2

[6744 rows x 1 columns]

In [83]:
from aves.data import eod

viajes = eod.read_trips(EOD_PATH)
viajes_stages = read_trips_stages(EOD_PATH)
personas = eod.read_people(EOD_PATH)

In [20]:
viajes.columns

Index(['Hogar', 'Persona', 'Viaje', 'Etapas', 'ComunaOrigen', 'ComunaDestino',
       'SectorOrigen', 'SectorDestino', 'ZonaOrigen', 'ZonaDestino',
       'OrigenCoordX', 'OrigenCoordY', 'DestinoCoordX', 'DestinoCoordY',
       'Proposito', 'PropositoAgregado', 'ActividadDestino', 'MediosUsados',
       'ModoAgregado', 'ModoPriPub', 'ModoMotor', 'HoraIni', 'HoraFin',
       'HoraMedia', 'TiempoViaje', 'TiempoMedio', 'Periodo', 'MinutosDespues',
       'CuadrasDespues', 'FactorLaboralNormal', 'FactorSabadoNormal',
       'FactorDomingoNormal', 'FactorLaboralEstival',
       'FactorFindesemanaEstival', 'CodigoTiempo', 'ModoDifusion',
       'DistEuclidiana', 'DistManhattan', 'Imputada', 'TipoDia',
       'FactorExterno'],
      dtype='object')

In [6]:
personas.columns

Index(['Hogar', 'Persona', 'AnoNac', 'Sexo', 'Relacion', 'Viajes',
       'LicenciaConducir', 'PaseEscolar', 'AdultoMayor', 'Estudios', 'Curso',
       'Actividad', 'Ocupacion', 'ActividadEmpresa', 'JornadaTrabajo',
       'DondeEstudia', 'DirActividadCoordX', 'DirActividadCoordY',
       'DirEstudiosCoordX', 'DirEstudiosCoordY', 'NoViaja', 'TarjetaBip',
       'Tarjeta2Bip', 'MedioViajeRestricion', 'ConoceTransantiago',
       'NoUsaTransantiago', 'Discapacidad', 'TieneIngresos', 'Ingreso',
       'TramoIngreso', 'IngresoFinal', 'TramoIngresoFinal', 'IngresoImputado',
       'Factor_LaboralNormal', 'Factor_SabadoNormal', 'Factor_DomingoNormal',
       'Factor_LaboralEstival', 'Factor_FindesemanaEstival', 'FactorPersona'],
      dtype='object')

In [32]:
viajes_stages.columns

Index(['Hogar', 'Persona', 'Viaje', 'Etapa', 'ZonaOrigen', 'ZonaDestino',
       'ComunaOrigen', 'ComunaDestino', 'OrigenCoordX', 'OrigenCoordY',
       'DestinoCoordX', 'DestinoCoordY', 'Modo', 'CuadrasAntes',
       'MinutosAntes', 'Autopistas', 'NoUsaAutopistas', 'Estaciona',
       'CostoEstacionamiento', 'FormaPago', 'EstacionTrenIni',
       'EstacionTrenFin', 'TarifaTren', 'RecorridoTransantiago',
       'TiempoEsperaTstgo', 'TiempoEsperaBus', 'BusesPerdidos',
       'TarifaBusNoTransantiago', 'EstacionMetroIni', 'EstacionMetroFin',
       'HorarioMetro', 'MetrosPerdidos', 'EstacionMetroCambio', 'RecorridoTxc',
       'TiempoEsperaTxc', 'TarifaTxc', 'TiempoEsperaTaxi', 'TarifaTaxi',
       'PropiedadBicicleta', 'UsaCiclovia', 'CirculacionBicicleta',
       'EstacionaBicicleta', 'ModoEstacionaBicicleta', 'UsoHabitualBicicleta'],
      dtype='object')

In [5]:
import pandas as pd

# Contamos los valores NaN en el atributo "No sé, estamos probando atributos xd"
cantidad_nan = viajes_stages['Viaje'].isna().sum()

print(f"La cantidad de NaN en el atributo es: {cantidad_nan}")

La cantidad de NaN en el atributo es: 0

In [16]:
# Supongamos que tienes dos DataFrames "perro" y "gato"
# y deseas verificar cuántos valores de "atributo1" en "perro" no están en "gato"

# Usamos el método isin() para verificar si los valores de "atributo1" en "perro" están en "gato"
personasNoViajaron = personas[~personas['Persona'].isin(viajes_stages['Persona'])]

# Contamos los valores en "perro" que no están en "gato"
cantNoViaja = len(personasNoViajaron)

print(f"La cantidad de personas que no viajó es: {cantNoViaja}")

La cantidad de personas que no viajó es: 13788

In [18]:
viajes[['Persona', 'Viaje', 'Etapas', 'ComunaOrigen', 'ComunaDestino', 'TipoDia','FactorExterno']].sample(5)

,Persona,Viaje,Etapas,ComunaOrigen,ComunaDestino,TipoDia,FactorExterno
20350,13368103,1336810301,1,La Florida,La Florida,Laboral,0.817907
56477,18925001,1892500103,1,Melipilla,Melipilla,Laboral,1.482104
35223,15526101,1552610103,1,Las Condes,Las Condes,LaboralEstival,1.482104
101497,26100104,2610010402,1,San Joaquín,San Joaquín,Laboral,1.482104
27431,14429001,1442900101,1,La Reina,La Pintana,FindesemanaEstival,1.000000

In [97]:
viajes_stages[['Hogar', 'Persona', 'Viaje', 'Etapa', 'ZonaOrigen', 'ZonaDestino',
       'ComunaOrigen', 'ComunaDestino', 'OrigenCoordX', 'OrigenCoordY',
       'DestinoCoordX', 'DestinoCoordY', 'Modo', 'CuadrasAntes',
       'MinutosAntes', 'Autopistas', 'NoUsaAutopistas', 'Estaciona',
       'CostoEstacionamiento', 'FormaPago', 'EstacionTrenIni',
       'EstacionTrenFin', 'TarifaTren', 'RecorridoTransantiago',
       'TiempoEsperaTstgo', 'TiempoEsperaBus', 'BusesPerdidos',
       'TarifaBusNoTransantiago', 'EstacionMetroIni', 'EstacionMetroFin',
       'HorarioMetro', 'MetrosPerdidos', 'EstacionMetroCambio', 'RecorridoTxc',
       'TiempoEsperaTxc', 'TarifaTxc', 'TiempoEsperaTaxi', 'TarifaTaxi',
       'PropiedadBicicleta', 'UsaCiclovia', 'CirculacionBicicleta',
       'EstacionaBicicleta', 'ModoEstacionaBicicleta', 'UsoHabitualBicicleta']].sample(5)

,Hogar,Persona,Viaje,Etapa,ZonaOrigen,ZonaDestino,ComunaOrigen,ComunaDestino,OrigenCoordX,OrigenCoordY,...,TiempoEsperaTxc,TarifaTxc,TiempoEsperaTaxi,TarifaTaxi,PropiedadBicicleta,UsaCiclovia,CirculacionBicicleta,EstacionaBicicleta,ModoEstacionaBicicleta,UsoHabitualBicicleta
76429,201353,20135303,2013530301,20135303011,858,859,85.0,85.0,"324894,125","6279354,5",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54943,173031,17303102,1730310201,17303102011,389,396,94.0,94.0,"334368,9063",6291724,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57616,176420,17642007,1764200703,17642007031,393,20,94.0,70.0,"335061,4375",6292024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118935,259511,25951101,2595110102,25951101021,639,628,95.0,335.0,"346796,875","6293973,5",...,NaN,NaN,5.0,1000.0,NaN,NaN,NaN,NaN,NaN,NaN
118381,258892,25889205,2588920503,25889205031,713,772,100.0,98.0,"354244,25",6280508,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df_filtrado = viajes_stages[viajes_stages['ModoDifusion'] == 'Otros']

df_filtrado.groupby(['Modo','ModoDifusion']).size()

Modo                                                 ModoDifusion
Auto Acompañante                                     Otros             56
Auto Chofer                                          Otros             11
Bicicleta                                            Otros              4
Bus institucional                                    Otros           1026
Bus interurbano o rural                              Otros           2268
Bus urbano con pago al conductor (Metrobus y otros)  Otros           1390
Furgón escolar, como chofer o acompañante            Otros            381
Furgón escolar, como pasajero                        Otros           2828
Motocicleta                                          Otros            493
Motocicleta Acompañante                              Otros             52
Servicio Informal                                    Otros            113
Taxi colectivo                                       Otros            250
Taxi o radiotaxi                                     Otros             70
Tren                                                 Otros             43
dtype: int64

In [11]:
#Funcion para asignar tipo de día
def etiquetar_tipo_dia(row):
    tipos_dia = []
    if pd.notna(row['FactorLaboralNormal']):
        tipos_dia.append('Laboral')
    if pd.notna(row['FactorDomingoNormal']):
        tipos_dia.append('Domingo')
    if pd.notna(row['FactorSabadoNormal']):
        tipos_dia.append('Sábado')
    if pd.notna(row['FactorLaboralEstival']):
        tipos_dia.append('LaboralEstival')
    if pd.notna(row['FactorFindesemanaEstival']):
        tipos_dia.append('FindesemanaEstival')
    if not tipos_dia:
        tipos_dia.append('No Definido')
    return tipos_dia

# Aplicamos la función a cada fila y creamos una nueva columna llamada 'TipoDia'
viajes_stages['TipoDia'] = viajes_stages.apply(etiquetar_tipo_dia, axis=1)

viajes_stages[['Viaje', 'Etapas', 'Etapa', 'Periodo', 'TipoDia']].sample(5)

,Viaje,Etapas,Etapa,Periodo,TipoDia
39038,1509900302,2.0,15099003021,Punta Tarde (17:31 - 20:30),[Laboral]
9112,1128710302,1.0,11287103021,"Fuera de Punta 2 (9:01 - 10:00, 12:01 - 17:30,...",[Laboral]
112431,2517910201,1.0,25179102011,"Fuera de Punta 2 (9:01 - 10:00, 12:01 - 17:30,...",[Laboral]
32293,1438110301,1.0,14381103011,Punta Mañana 2 (7:31 - 9:00),[Laboral]
43219,1564210102,1.0,15642101021,"Fuera de Punta 2 (9:01 - 10:00, 12:01 - 17:30,...",[Laboral]

In [12]:
import pandas as pd

viajes2 = viajes_stages
def contar_dias(row):
    return len(row['TipoDia'])

# Aplicamos la función a cada fila y creamos una nueva columna 'DiasContados'
viajes2['DiasContados'] = viajes2.apply(contar_dias, axis=1)

# Filtramos las filas donde 'DiasContados' es mayor o igual a 2
df_filtrado = viajes2[viajes2['DiasContados'] >= 2]

# Eliminamos la columna 'DiasContados' si no la necesitas
df_filtrado = df_filtrado.drop('DiasContados', axis=1)

df_filtrado

Empty DataFrame
Columns: [Hogar, Persona, Viaje, Etapa, ZonaOrigen, ZonaDestino, ComunaOrigen, ComunaDestino, OrigenCoordX, OrigenCoordY, DestinoCoordX, DestinoCoordY, Modo, CuadrasAntes, MinutosAntes, RecorridoTransantiago, TiempoEsperaTstgo, BusesPerdidos, UsoHabitualBicicleta, TiempoViaje, Periodo, Etapas, ActividadDestino, Proposito, TiempoMedio, FactorLaboralNormal, FactorSabadoNormal, FactorDomingoNormal, FactorLaboralEstival, FactorFindesemanaEstival, DistEuclidiana, DistManhattan, Imputada, ModoDifusion, TipoDia]
Index: []

[0 rows x 35 columns]

In [12]:
#Como no hay tipos de dias con mas de una etiqueta parece más apropiado usar 

#Funcion para asignar tipo de día
def etiquetar_tipo_dia(row):
    if pd.notna(row['FactorLaboralNormal']):
        return 'Laboral'
    if pd.notna(row['FactorDomingoNormal']):
        return 'Domingo'
    if pd.notna(row['FactorSabadoNormal']):
        return 'Sábado'
    if pd.notna(row['FactorLaboralEstival']):
        return 'LaboralEstival'
    if pd.notna(row['FactorFindesemanaEstival']):
        return 'FindesemanaEstival'
    else:
        return 'No Definido'

def etiquetar_FactorExt(row):
    if pd.notna(row['FactorLaboralNormal']):
        return row['FactorLaboralNormal']
    if pd.notna(row['FactorDomingoNormal']):
        return row['FactorDomingoNormal']
    if pd.notna(row['FactorSabadoNormal']):
        return row['FactorSabadoNormal']
    if pd.notna(row['FactorLaboralEstival']):
        return row['FactorLaboralEstival']
    if pd.notna(row['FactorFindesemanaEstival']):
        return row['FactorFindesemanaEstival']
    else:
        return None

# Aplicamos la función a cada fila y creamos una nueva columna llamada 'TipoDia'
viajes_stages['TipoDia'] = viajes_stages.apply(etiquetar_tipo_dia, axis=1)

viajes_stages['FactorExterno'] = viajes_stages.apply(etiquetar_FactorExt, axis=1)

viajes_stages[['Viaje', 'Etapas', 'Etapa', 'Periodo', 'TipoDia', 'FactorExterno']].sample(5)

,Viaje,Etapas,Etapa,Periodo,TipoDia,FactorExterno
58775,1778230203,1.0,17782302031,"Fuera de Punta 2 (9:01 - 10:00, 12:01 - 17:30,...",Laboral,"1,48210391"
131627,2798310202,2.0,27983102022,"Fuera de Punta 2 (9:01 - 10:00, 12:01 - 17:30,...",Laboral,"1,00000000"
130066,2779210302,1.0,27792103021,Punta Tarde (17:31 - 20:30),LaboralEstival,"1,14387994"
42423,1552810104,1.0,15528101041,"Fuera de Punta 2 (9:01 - 10:00, 12:01 - 17:30,...",Laboral,"1,48210391"
68830,1914910201,1.0,19149102011,Fuera de Punta 1 (10:01 - 12:00),Domingo,"1,48210391"